@using HentovWebsite.Utility
@using HentovWebsite.Web.Helpers
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid bg-1 text-center" id="about-container">
    @Html.Image(@Url.Content(Consts.AvatarLocation), "avatar", "192", "197", new {@class = "img-circle"})
</div>
<div class="container text-center">
    <h3>Hi, nice to meet you</h3>
    <div class="row">
        <p class="col-md-12 text-center">
            @WebText.AboutDescription
        </p>
    </div>
</div>


<section class="section-padding wow fadeInUp delay-05s" id="contact">
    <div class="container">
        <div class="row white">
            <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title black">Contact Me</h2>
                    <hr class="botm-line">
                    <p class="sec-para black">@WebText.AboutContactHeader</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                    <h3 class="cont-title">Send an email</h3>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="contact-info">
                        @using (Html.BeginForm("SendMail", "About", null, FormMethod.Post, new {@class = "contactForm"}))
                        {
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <button type="submit" class="btn btn-send">Send</button>
                        }
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="cont-title">Get in touch</h3>
                    <div class="location-info">
                        <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>@WebText.ContactLocation</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>@WebText.ContactPhone</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">@WebText.ConactEmail</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                        <span aria-hidden="true" class="fa fa-envelope-o"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

