@using HentovWebsite.Utility
@using HentovWebsite.Web.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
    <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3><span class="dec-tec">“</span>@WebText.HomeQuoteBody<span class="dec-tec">”</span>@WebText.HomeQuoteAuth</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft delay-05s">
                    <div class="section-title">
                        <h2 class="head-title">Services</h2>
                        <hr class="botm-line">
                        <p class="sec-para">@WebText.HomeDescriptionHeading</p>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.ServiceDescription("fa fa-paint-brush", WebText.HomeHeadingCgArt, WebText.HomeDescriptionCgArt)
                    @Html.ServiceDescription("fa fa-cogs", WebText.HomeHeadingApproach, WebText.HomeDescriptionApproach)
                    @Html.ServiceDescription("fa fa-mobile", WebText.HomeHeadingMobile, WebText.HomeDescriptionMobile)
                    @Html.ServiceDescription("fa fa-desktop", WebText.HomeHeadingDesktop, WebText.HomeDescriptionDesktop)
                    @Html.ServiceDescription("fa fa-lightbulb-o", WebText.HomeHeadingIdeas, WebText.HomeDescriptionIdeas)
                    @Html.ServiceDescription("fa fa-clock-o", WebText.HomeHeadingDeadlines, WebText.HomeDescriptionDeadlines)
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3>@WebText.HomeInTouch</h3>
                        <p>@WebText.HomeContactNfo</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <a href=@Url.Action("Index", "About") class="btn btn-submit">Contact me</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
                        <div>
                            <a href=@Url.Action("Index","Portfolio")>
                                <h2 class="head-title">Portfolio</h2>
                            </a>
                        </div>
                        <hr class="botm-line">
                        <p class="sec-para">@WebText.HomePortfolioNfo</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    @Html.PortfolioImage("/Content/img/port01.jpg", "PortfolioImage01")
                    @Html.PortfolioImage("/Content/img/port02.jpg", "PortfolioImage02")
                    @Html.PortfolioImage("/Content/img/port03.jpg", "PortfolioImage03")
                    @Html.PortfolioImage("/Content/img/port04.jpg", "PortfolioImage04")
                    @Html.PortfolioImage("/Content/img/port05.jpg", "PortfolioImage05")
                    @Html.PortfolioImage("/Content/img/port06.jpg", "PortfolioImage06")
                </div>
            </div>
        </div>
    </section>