@using HentovWebsite.Web.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
    <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3><span class="dec-tec">“</span>Insert generic wise quote from a deep-sounding guy here.<span class="dec-tec">”</span> - Some Wise Guy</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft delay-05s">
                    <div class="section-title">
                        <h2 class="head-title">Services</h2>
                        <hr class="botm-line">
                        <p class="sec-para">I do quite a lot of stuff, so here is a small list that highlights the more important ones :)</p>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.ServiceDescription("fa fa-paint-brush", "CG Art", "Althought not my main speciality I do quite a lot of 2D/Print design. Posters, frames, t-shirts...you name it.")
                    @Html.ServiceDescription("fa fa-cogs", "CG Art", "Every now and then I try to puzzle around with difficult taks and try to look for elegant ways to solve them.")
                    @Html.ServiceDescription("fa fa-mobile", "Mobile apps", "More often than not I give mobile apps a shot. I'm mainly interested in time-management apps as these are great time-savers.")
                    @Html.ServiceDescription("fa fa-desktop", "Web&Desktop Development", "Mainly, I develop apps for desktop/web use. I do most of them in C++/C#. This is my main development area of focus.")
                    @Html.ServiceDescription("fa fa-lightbulb-o", "Creative Ideas", "I always try to come up with new and creative approaches when designing stuff.I often mix stuff that doesn't make sense.")
                    @Html.ServiceDescription("fa fa-clock-o", "On-point deadlines", "If there is something I absolutely guarntee - its deadlines. I ALWAYS make sure that I follow the deadlines I set.")
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3>Want to get in touch?</h3>
                        <p>Business? Partnership? Questions. I try to respond as quickly as I can, so feel free to contact me with whatever you have in mind.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <a href=@Url.Action("Index", "About") class="btn btn-submit">Contact me</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
                        <div>
                            <a href=@Url.Action("Index","Portfolio")>
                                <h2 class="head-title">Portfolio</h2>
                            </a>
                        </div>
                        <hr class="botm-line">
                        <p class="sec-para">If you want to know more about me, you can check out some of the project I've worked on. Head to the portfoli page for that.</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    @Html.PortfolioImage("/Content/img/port01.jpg", "PortfolioImage01")
                    @Html.PortfolioImage("/Content/img/port02.jpg", "PortfolioImage02")
                    @Html.PortfolioImage("/Content/img/port03.jpg", "PortfolioImage03")
                    @Html.PortfolioImage("/Content/img/port04.jpg", "PortfolioImage04")
                    @Html.PortfolioImage("/Content/img/port05.jpg", "PortfolioImage05")
                    @Html.PortfolioImage("/Content/img/port06.jpg", "PortfolioImage06")
                </div>
            </div>
        </div>
    </section>