@using HentovWebsite.Models.Enums
@model HentovWebsite.Models.View.ManageAccount.IndexViewModel
@{
    ViewBag.Title = "Account Management";
}

<h2 class="text-center">@ViewBag.Title</h2>

<p class="text-success text-center">@ViewBag.StatusMessage</p>
<h4 class="text-center">Change your account settings</h4>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
        </div>
    </div>
</div>

@if (this.User.IsInRole(UserRoles.Admin.ToString()))
{
    @Html.Partial("_AdminSection")
}
else
{
  @Html.Partial("_UserSection")
}




