@model HentovWebsite.Models.View.Blog.PostCollectionViewModel

@{
    ViewBag.Title = "title";
}

<h2>Blog - Hentov.NET</h2>

@foreach (var post in Model.Posts)
{

    <h3>@post.Title</h3>
    <h4>@post.AuthorName</h4>
    <p>@post.Content</p>
    <h5>@post.DatePosted - Comments: @post.CommentsCount</h5>
    @Html.ActionLink("Read more","Post","Blog", new {id = @post.Id}, null)
    @Html.ActionLink("Edit", "Edit", post, null)
    @Html.ActionLink("Delte", "Delete", post, null);
    <br/>
}
