@using HentovWebsite.Models.Enums
@model List<HentovWebsite.Models.View.Tutorials.TutorialViewModel>

@{
    ViewBag.Title = "Tutorials - Hentov.NET";
    ViewBag.PlayButton = "/Content/img/play-button.png";
}
<div class="container">
    @foreach (var tutorial in @Model)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="card hovercard">
                    <img src="@tutorial.Thumbnail" alt="Tutorial thumbnail" />
                    <div class="avatar">
                        <a href="@tutorial.VideoUrl">
                            <img src="@ViewBag.PlayButton" alt="Play Button" />
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            @tutorial.Title
                        </div>
                        <div class="desc">@tutorial.Description</div>
                    </div>
                    @if (User.IsInRole(UserRoles.Admin.ToString()))
                    {
                        <div class="bottom">
                            <input class="btn btn-default" type="button" value="Edit" onclick="location.href = '@Url.Action("Edit", "Tutorials", tutorial)'" />
                        </div>
                    }

                    <div class="bottom">
                        <input class="btn btn-default" type="button" value="See More" onclick="location.href ='@Url.Action("Tutorial", "Tutorials", new {id = @tutorial.Id})'" />
                    </div>
                    @if (User.IsInRole(UserRoles.Admin.ToString()))
                    {
                        <div class="bottom">
                            <input class="btn btn-default" type="button" value="Delete" onclick="location.href = '@Url.Action("Delete", "Tutorials", tutorial)'" />
                        </div>
                    }
                </div>

            </div>
        </div>
    }
</div>
