@model HentovWebsite.Models.View.Tutorials.AddTutorialViewModel

    @{
        ViewBag.Title = "Add Tutorial - Hentov.NET";
    }
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <div style="margin: auto">
                @using (Html.BeginForm("AddTutorial", "Tutorials",new {area = ""}, FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Title)
                            <div>
                                @Html.EditorFor(x => x.Title)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Description)
                            <div>
                                @Html.EditorFor(x => x.Description)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(x => x.VideoUrl)
                            <div>
                                @Html.EditorFor(x => x.VideoUrl)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Length)
                            <div>
                                @Html.EditorFor(x => x.Length)
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-submit">Add Tutorial</button>
                }
            </div>
        </div>
    </div>
</div>
